web.config
obj/Debug/TesteProgramador.csproj.FileListAbsolute.txt
obj/Debug/TesteProgramador.csproj.CoreCompileInputs.cache
obj/Debug/TesteProgramador.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/TesteProgramador/v16/.suo
.vs/TesteProgramador/config/applicationhost.config
Web.config
.vs/TesteProgramador/v16/.suo
.vs/TesteProgramador/v16/.suo
*.pdb
