@{
    ViewBag.Title = "Foxcon";
}

<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div style="height=100px">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>