@{
    ViewBag.Title = "Foxcon";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Funcionarios</h1>
                </div>
                <!-- /.col -->
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-default">

                        <!-- form start -->
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-user-circle"> </i> Cadastrar Funcionarios</h3>
                        </div>
                        <form action="/" method="post"></form>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group">
                                <label for="sigla">Nome</label>
                                <input type="text" name="name" value="" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="sigla">Departamento</label>
                                <select name="id_rule" class="form-control">
                                    <option value="1">TI</option>
                                    <option value="2">RH</option>
                                    <option value="3">PRODUÇÃO</option>
                                </select>                                                                
                            </div>
                            <div class="form-group">
                                <label for="sigla">Sexo</label>
                                <select name="gender" class="form-control">
                                    <option value="1">Masculino</option>
                                    <option value="2">Feminino</option>                                    
                                </select>                                
                            </div>
                            <div class="form-group">
                                <label for="sigla">Salario</label>
                                <input type="number" name="salary" value="" class="form-control" />
                            </div>

                            <!-- /.card-body -->
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Action("Index", "Funcionarios")" class="btn flat btn-default">Voltar</a>
                            <input type="submit" class="btn flat btn-default float-right" value="Salvar"/>
                        </div>
                        </form>
                    </div>
                </div>
    </section>

</div>
<!-- /.content-wrapper -->
